<title>post_comment</title>
    <table style="width: 40%; text-align: left;">
           <tr>
           <th>Row</th>
           <th>User name</th>
           <th>Comment</th>
           </tr>
           {% for posts in post %}
               <tr>
               <td>{{ forloop.counter }}</td>
               <td>{{ posts.name }}</td>
               <td>{{ posts.body |linebreaks}}</td>
               </tr>

            {% endfor %}
</table>
<a href="{% url 'socialapp:post_comment_add' post_id %}">add comment</a>
